@charset "UTF-8";
.Button{
	background-color: #42BFC5;
 	border: none;
  	color: white;
  	padding: 1% 2%;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 200%;
  	align-items: center;
  	margin: 0% 3%;
}
.Button:hover{
	background-color: #5DD8DE;
 	border: none;
  	color: white;
  	padding: 1% 2%;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 200%;
  	align-items: center;
  	margin: 0% 3%;
}
.ButtonContainer{
	text-align: center;
}
.Title{
	text-align: center;
	display: block;
	font-size: 550%;
}

.Form{
	width:50%;
	padding:2%;
	border-radius:3%;
	margin:auto;
	background-color:#D6F1F4;
}

.Form label{
	width:20%;
	font-size: 150%;
	display:inline-block;
}

.Form input, .Form select{
	width:90%;
	padding:3px 10px;
	font-size: 120%;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

.Form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #42BFC5;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#42BFC5;
	font-size: 150%;
} 

.Form input[type="submit"]:hover{
	cursor:pointer;
	background-color: #5DD8DE;
}