<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Activity View</title>
</head>
<body>
<nav class="Nav">
    <ul class="nav1">
        <li><a href="/Proyecto-Programacion-Web/index.jsp" class="navLink">Home</a></li>
        <li class="desplegar">Camps Management
            <ul class="nav2">
                <li class="li2"><a href="/Proyecto-Programacion-Web/mvc/view/admin/createCampView.jsp" class="navLink">Create Camp</a></li>
                <li class="li2"><a href="/Proyecto-Programacion-Web/mvc/view/admin/createActivityView.jsp" class="navLink">Create Activity</a></li>
                <li class="li2"><a href="/Proyecto-Programacion-Web/mvc/view/admin/createMonitorView.jsp" class="navLink">Create Monitor</a></li>
                <li class="li2"><a href="/Proyecto-Programacion-Web/mvc/view/admin/associateActivitytoCampForm.jsp" class="navLink">Associate Activity to Camp</a></li>
                <li class="li2"><a href="/Proyecto-Programacion-Web/mvc/view/admin/associateMonitortoActivityView.jsp" class="navLink">Associate Monitor to Activity</a></li>
                <li class="li2"><a href="/Proyecto-Programacion-Web/mvc/view/admin/associateMonitortoCampView.jsp" class="navLink">Associate Monitor to Camp</a></li>
            </ul>
        </li>
        <li><a href="/Proyecto-Programacion-Web/mvc/controller/login/changeData.jsp" class="navLink">Edit Profile</a></li>
        <li><a href="/Proyecto-Programacion-Web/mvc/controller/logout/logout.jsp" class="navLink">Log out</a></li>
    </ul>
</nav>
</body>
</html>
